aiogram==2.13
aiohttp==3.7.4.post0
alabaster==0.7.12
altgraph==0.17
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
better-profanity==0.7.0
blis==0.7.4
cached-property==1.5.2
catalogue==1.0.0
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.22
DAWG-Python==0.7.2
docopt==0.6.2
docutils==0.17.1
en-core-web-sm==2.3.1
Foundations==2.0.7
future==0.18.2
idna==2.8
imagesize==1.2.0
jaraco.context==4.0.0
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
linecache2==1.0.0
Manager==2.0.3
MarkupSafe==2.0.1
matplotlib==3.4.1
more-itertools==8.7.0
multidict==5.1.0
murmurhash==1.0.5
numpy==1.20.2
ordered-set==3.1.1
ordered-set-stubs==0.1.3
ordereddict==1.1
packaging==21.0
pandas==1.3.0
pefile==2021.5.24
Pillow==8.2.0
plac==1.1.3
poetry-version==0.1.5
preshed==3.0.5
profanity-check==1.0.3
pydantic==1.8.1
Pygments==2.9.0
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
redis==3.5.3
requests==2.22.0
ruamel.yaml==0.15.100
scikit-learn==0.24.1
scipy==1.6.2
selenium==3.141.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
soupsieve==2.2.1
spacy==2.3.5
Sphinx==4.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly==1.0.5
thinc==7.4.5
threadpoolctl==2.1.0
tomlkit==0.5.11
tqdm==4.59.0
traceback2==1.4.0
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.25.8
urlopen==1.0.0
wasabi==0.8.2
webdriver-manager==3.4.2
wolframalpha==5.0.0
xmltodict==0.12.0
yarl==1.6.3
